"*":
  "atom-beautify":
    bash:
      beautify_on_save: true
    general:
      _analyticsUserId: "d22e841b-58b7-4104-9647-1129661e82c2"
    java: {}
    js:
      beautify_on_save: true
      end_with_newline: true
      indent_size: 2
      jslint_happy: true
      space_after_anon_function: true
    json:
      beautify_on_save: true
      end_with_newline: true
      indent_size: 2
      jslint_happy: true
      space_after_anon_function: true
    markdown:
      default_beautifier: "Remark"
    puppet:
      beautify_on_save: true
    ruby:
      beautify_on_save: true
  "atom-maven":
    classpathFileName: ".atom-classpath"
  "autocomplete-java":
    classpathFilePath: ".atom-classpath"
    refreshClassOnSave: false
  core:
    closeDeletedFileTabs: true
    followSymlinks: false
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
  "exception-reporting":
    userId: "110bb6f9-b221-46bb-894e-cc3b978a51b6"
  "file-types":
    template: "source.yaml.cf"
  "java-generator":
    toggles:
      appendThisToGetters: true
      generateGettersThenSetters: true
  "linter-eslint":
    fixOnSave: true
    lintHtmlFiles: true
  "linter-javac":
    classpathFilename: ".atom-classpath"
  "linter-js-standard":
    checkStyleDevDependencies: true
    honorStyleSettings: false
    lintHtmlFiles: true
    lintMarkdownFiles: true
    showEslintRules: true
    style: "happiness"
  "linter-jshint":
    lintInlineJavaScript: true
  "linter-json-lint":
    allowComments: true
  "linter-ui-default":
    showPanel: true
  "sync-settings":
    _lastBackupHash: "ba46f32e916ddcbae202ed91f85ef9999eb18ec3"
    gistId: "be0c571e97df1e57f60ae9abd7e75573"
    personalAccessToken: "8cac091ae422876fa62b8a8cb9a370fb2d78376b"
    quietUpdateCheck: true
  "tool-bar":
    iconSize: "16px"
    position: "Right"
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
